.list-body {
  position: absolute;
  top: 0%;
  z-index: 0;
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 130px 20px;
  margin-top: 67px;
  /* margin-bottom: 300px; */
  overflow: hidden;
  /* border-radius: 5px; */
}

.list {
  padding: 0;
  list-style-type: none;
}

.list-item {
  padding: 5px 0;
}

.list-item--active {
  color: blue;
  transition: color 1500ms;
}

/* This fires as soon as the element enters the dorm */
.list-transition-enter,
.list-transition-appear {
  /*We give the list the initial dimension of the list button*/
  top: 90%;
  width: 100%;
  max-height: 100%;
  color: transparent;
  background-color: #5a564c;
}
/* This is where we can add the transition*/
.list-transition-enter-active,
.list-transition-appear-active {
  top: 20%;
  height: 70%;
  width: 100%;
  max-height: 70%;
  background-color: white;
  transition: all 400ms;
}

/* This fires as soon as the this.state.showList is false */
.list-transition-exit {
  top: 345px;
  width: 200px;
  max-height: 200px;
  background-color: white;
}
/* fires as element leaves the DOM*/
.list-transition-exit-active {
  top: 345px;
  width: 120px;
  max-height: 40px;
  color: transparent;
  background-color: #5a564c;
  transition: all 400ms;
}
